* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
form {
    max-width: 600px;
    margin: 2rem auto;
}
  
form > div:not(.categories) {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
form > div:not(.categories) label {
    width: 150px;
    margin-right: 1rem;
    text-align: right;
}

input,
select {
    width: 250px; 
    max-width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
}
  
.categories > div {
    display: flex;
    align-items: center;
}
  
.categories > div label {
    width: 150px;
    margin-right: 1rem;
    text-align: right;
}


.meal {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #9b755c;
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #333;
    align-items: center;
}
  