body {
  background-color: rgb(233, 155, 102);
  font-family: "Noto Sans";
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  text-align: center;
}

nav {
  justify-content: space-between;
  margin: 1em;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

button {
  border-radius: 8px;
  padding: 0.4em 1em;
  font-family: "Noto Sans";
  font-size: 1em;
  font-weight: bold;
  background-color: #9b755c;
  color: #333;
  cursor: pointer;
}

h1 {
  letter-spacing: 3px;
}
