.impact-container {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .impact-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .impact-card {
    background-color: #87201d;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
  }
  