.notification-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .notification-icon img {
    width: 40px;
  }
  
  .notification-popup {
    position: fixed;
    bottom: 60px;
    right: 10px;
    background: white;
    padding: 10px;
  }
  